#container
{
	min-height:100%;
    min-width:100%;
    background-color:#f5f5dc ;
}

#logo
{
	background-color:#f5f5dc;
	height:50px;
	width:20%;
	float:left;
    border-right: solid;
    border-bottom: solid;
    border-bottom-color: white;
    border-right-color: white;
}

#movie_search
{
	background-color:#f5f5dc;
	height:50px;
	width:54%;
	float:left;
    border-right: solid;
    border-bottom: solid;
    border-bottom-color: white;
    border-right-color: white;
}
#user
{
	background-color:#f5f5dc;
	height:50px;
	width:25%;
	float:left;
    border-bottom: solid;
    border-bottom-color: white;
}
#siderbar
{
	background-color:#f5f5dc;
	min-height:650px;
	width:20%;
	float:left;
    border-right: solid;
    border-bottom: solid;
    border-bottom-color: white;
    border-right-color: white;
}

#content
{
	background-color:#f5f5dc;
	width:54%;
	min-height:650px;
	float:left;
    border-right: solid;
    border-bottom: solid;
    border-bottom-color: white;
    border-right-color: white;
}

#message
{
    max-height: 300px;
    background-color:#f5f5dc;
	width:25%;
	float:left;
    overflow: auto;
    border-bottom: solid;
    border-bottom-color: white;
}


#friend_list
{
	background-color:#f5f5dc;
	width:25%;
	float:left;
    min-height: 650px;
	
}