<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div style="text-align: left;margin: 0 auto;height: 540px;width: 750px;">
     <div id="logo" style="margin: 10px;display: inline-block;vertical-align: top;">
          <h3 style="color: blue">Movie Net</h3>
         <b><em style="color: black">A place to share movies with friends！ </em></b>
     </div>
     <div id="content" style="margin: 10px;display: inline-block;">
         {% block content %}
         {% endblock %}
     </div>
    </div>
</body>
</html>